<style>
    .card-title{
        font-family: Inter, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }

    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .card-class{
        border-radius: 20px;
    }

    #countdown {
        font-size: 20px;
    }
    .card {
        background-color: rgba(232, 227, 227, 0.8);
        border-radius: 15px;
    }


    .line {
        border-right: 2px solid #38521f;
        margin: 40px 0 50px 0;
        padding-right: 0;
    }

    .card-font{
        color: #38512f;
        font-size: 1.6rem;
        font-weight: bolder;
    }

    .image-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }

    .card-text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .image-1 {
        background-repeat: no-repeat;
        /*background-attachment: fixed;*/
        background-position: center;
        background-size: cover;
        text-align: left;
    }

    .card-spotify {
        text-align: left;
    }

    /**/

    .card-1{
        background-color: #607254;
        color: white;
        width: 100%;
        font-size: 35px;
        font-family: Inter, sans-serif;
        font-weight: bold;
        border-radius: 0px;

    }

    .all{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        padding: 12px 8px 8px 8px;
        line-height: normal;
    }

    .card-1-text{
        border-left: 3px solid rgba(56, 82, 31, 0.8);
        padding: 10px 0 5px 20px;
        font-size: 20px;
    }

    .card-title-2{
        font-size:30px;
        font-weight: bold;
        color: #38512f;
    }

    .card-spotify-title{
        font-size:30px;
        font-weight: bold;
        color: #38512f;
    }

    .card-spotify-text{
        font-size:17px;
        color: #38512f;
     }

    .card-2-title{
        font-size: 30px;
    }

    .list-present{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;
    }

    .pix-text, .havan-text, .confirmation-text-yes, .confirmation-text-no{
        font-size: 15px;
        border-left: rgba(56, 81, 47, 0.3) 1px solid;
        margin-top: 10px;
        padding: 0 0 5px 15px;
        display: none;
    }

    .pix-text {
        flex-direction: column;
    }

    .card-2{
        width: 100%;
    }

    .bible-verse{
        font-size: 27px;
    }

    .card-temp{
        width: 85%;
    }

    .card-text-2{
        color: #38512f;
    }

    .card-title-map{
        border-left: 3px solid rgba(56, 82, 31, 0.8);
        padding: 10px 0 5px 20px;
    }

    .card-3-text{
        color: #38512f;
        font-size: 18px;
        font-weight: normal;
    }

    .observation {
        background-color: rgba(0,0,0,0);
        border: none;
        font-weight: bold;
    }

    .observation-button {
        box-shadow: none;
        color: #38512f;
    }
    .btn-link {
        color: #38512f;
        text-decoration: none;
    }
    .btn-link:hover {
        color: #38512f;
        text-decoration: none;
    }
    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none;
    }

    .small-text{
        font-size: 15px;
        margin-left: -15px;
        color: rgba(56, 81, 47, 0.6);
    }

    .confirmation-text{
        font-size: 30px;
        font-weight: bold;
        color: #38512f;
    }

    .observation-text{
        font-size: 15px;
        font-weight: normal;
        color: #38512f;
    }

    .border-left-text{
        border-left: 3px solid rgba(56, 82, 31, 0.4) !important;
        margin: 15px 0 15px 12px;
        padding: 5px 20px 5px 8px;
    }
    .border-left-button{
        border-left: 3px solid rgba(56, 82, 31, 0.4) !important;
        margin: 0 0 6px -9px !important;
        padding: 5px 0 5px 8px !important;
    }

    .card-4-text{
        color: #38512f;
        font-size: 27px;
        border-left: 3px solid rgba(56, 82, 31, 0.8);
        padding: 10px 0 5px 20px;
    }

    .pix{
        justify-content: center;
        display: flex;
        padding: 10px 0 10px 0;
        flex-direction: column;
        align-items: center;
    }

    .pix-img{
        width: 60%;
    }

    button, input[type="submit"], input[type="reset"] {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    }

    .pix-code{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    a{
        color: #38512f;
        text-decoration: underline;
    }

    .havan-link{
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .whatsapp-link{
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .card-5{
        display: block;
    }

    @media (min-width: 768px) {
        .card {
            max-width: 998px;
            width: 100%;
            border-radius: 15px !important;
        }
        .card-temp{
            width: 45% !important;
        }
        .card-5{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .card-5 .image-container img{
            border-radius: 0 15px 15px 0;
        }
        .card-5 .text-left{
            padding-left: 50px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
        .card-5 .card-1-text{
            font-size: 25px !important;
        }
        .card-5 .card-text{
            margin-top: 0px !important;
        }

        .presents {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .presents .image-container img{
            border-radius: 15px 0 0 15px;

        }
        .pix-text{
            flex-direction: row !important;
            align-items: center !important;
        }
        .pix {
            display: flex !important;
            flex-direction: column !important;
        }
        .pix-text span {
            width: 250px;
        }
        .pix-img {
            width: 76%;
        }

        .location-map {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .card-text-2 {
            padding-left: 50px;
            padding-right: 50px;
            font-size: 25px;
            width: 70%;
        }
        .confirmation-text {
            font-size: 40px !important;
        }

        .card-3-text {
            padding-left: 70px;
            font-size: 25px;
        }

        .observation-button-text{
            font-size: 25px;
            text-align: start;
        }
        .small-text {
            font-size: 20px;
            padding-left: 30px;
        }

        .card-6{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        .card-6 .card-text{
            padding-left: 40px;
        }

        .card-4-text{
            font-size: 35px;
        }

        .card-6 .image-container img {
            border-radius: 0 15px 15px 0;
        }
    }
</style>

  <div class="all">
    <div class="card card-class card-1">
      <div class="card-body">
        <span>Casamento <br> Lucas e Nathalia</span>
      </div>
    </div>
    <div class="card card-class card-2 card-temp">
      <div class="card-body image-1">
        <a data-type="countdown" data-id="4470991" class="tickcounter" style="display:block; left:0; width:100%; height:0; position:relative; padding-bottom:20%; margin:0 auto;" title="Temporizador" href="//www.tickcounter.com/">Temporizador</a>
      </div>
    </div>

    <div class="card card-5">
      <div class="image-container image-container-1">
        <%= image_tag "card1.png" %>
      </div>
      <div>
        <div class="card-text">
          <div class="card-body text-left card-font">
            <div class="card-1-text">
              <p class="bible-verse">"Assim não são mais dois, mas uma só carne." - Mateus 19:6.</p>
              <p>Se você tem acesso a esse site, saiba que você é importante para nós, e que estamos felizes por iniciar a contagem regressiva para esse grande dia com a sua companhia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-class card-spotify">
      <div class="card-body card-spotify">
        <p class="card-title card-spotify-title">Entre no clima!</p>
        <p class="card-text card-spotify-text">Essa música faz parte do início da nossa história de amor, então coloque seu fone, sente-se e desfrute da beleza que a envolve. 🤍</p>
        <iframe style="border-radius:12px; margin-bottom: -60px" src="https://open.spotify.com/embed/track/4eSEokk3AYGS3wL9ROodYH?utm_source=generator" width="100%" height="132" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>      </div>
    </div>

    <div class="card presents">
      <div class="image-container">
        <%= image_tag "card2.png" %>
      </div>
      <div>
        <div class="card-body text-left card-font">
          <div class="card-2-title">
            <p>Gostaria de nos presentear e está sem ideias? Não se preocupe, temos algumas sugestões.</p>
          </div>

          <div class="card-2-text">
            <div class="mb-2">
              <div class="list-present" id="pix-caret">
                <i class="fa fa-caret-right" aria-hidden="true" id="pix-icon"></i>
                <span>QR Code para PIX</span>
              </div>
              <div class="pix-text drop-text" id="pix-text">
                <span>
                  Não queremos estipular um presente, mas se quiser contribuir para a nossa viagem de lua de mel, fique a vontade para ofertar o valor que se sentir mais confortável. Afinal, somos gratos por tudo o que recebemos não nos importando com valor ou quantidade.
                </span>
                <div class="pix">
                  <%= image_tag "pix.png", class: "pix-img" %>
                  <div class="pix-code">
                    Chave PIX: +5545998028130
                    <input type="hidden" value="+55459980281300" id="pix-value">
                    <button onclick="copy()">
                      <i class="fa fa-clone pl-1" aria-hidden="true" value="+5545998028130"></i>
                    </button>
                  </div>
                </div>

              </div>
            </div>

            <div class="mb-2">
              <div class="list-present" id="havan-caret">
                <i class="fa fa-caret-right" aria-hidden="true" id="havan-icon"></i>
                <span>Lista de presentes da Havan</span>
              </div>
              <div class="havan-text drop-text" id="havan-text">
                Caso se sinta mais confortável para nos presentear com um presente, selecionamos alguns ítens que faltam em nosso novo lar, onde você pode contribuir para conquistarmos.<br>
                <div class="havan-link">
                  <a href="https://lista.havan.com.br/Convidado/ItensListaPresente/684715" target="_blank">
                    Lista de Presentes - HAVAN
                    <i class="fa fa-external-link" aria-hidden="true" style="font-size: small"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-class card-2">
      <div class="card-body image-1">
        <p class="card-title-2 card-title-map">Onde será a cerimônia?</p>
        <div class="location-map">
          <iframe width='100%' height='300' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d57861.07926967471!2d-53.511601757728506!3d-24.989326780961772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f3d5d8d5bf10d9%3A0xa93423c5de6688bf!2sRancho%20Rio%20da%20Paz!5e0!3m2!1sen!2sbr!4v1684782523090!5m2!1sen!2sbr&zoom=12" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <p class="card-text-2 mt-2">A cerimônia acontecerá no Rancho Rio da Paz às 17h- Localizado na Rua Rio da Paz - CEP 85803100, Cascavel-PR.</p>
        </div>
      </div>
    </div>

    <div class="card confirmation">
      <div class="image-container">
        <%= image_tag "card3.png" %>
      </div>
      <div>
        <div class="card-text">
          <div class="card-body text-left card-font">
          <p class="confirmation-text">Para o nosso melhor controle, confirme sua presença.</p>
            <div class="card-3-text">
              <div class="confirmation-yes mb-4" id="confirmation-yes">
                <i class="fa fa-caret-right" aria-hidden="true" id="confirmation-yes-icon"></i>
                <span>SIM</span>
                <div class="confirmation-text-yes drop-text" id="confirmation-yes-text">
                  Que notícia maravilhosa! Se já ficamos felizes com apenas sua confirmação, imagina quando te vermos lá!!! Mal podemos esperar por esse momento, agradecemos pela presença.

                  <div class="whatsapp-link">
                    <a href="https://wa.me/554591297862?text=Olá%20Lucas%20e%20Nathalia!%20Confirmo%20minha%20presença%20no%20seu%20casamento%20no%20dia%2002/12/2023%20às%2017h%20no%20Rancho%20Rio%20da%20Paz%20em%20Cascavel-PR." target="_blank">
                      <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      <span>Confirmar presença</span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="confirmation-no mb-4" id="confirmation-no">
                <i class="fa fa-caret-right" aria-hidden="true" id="confirmation-no-icon"></i>
                <span>NÃO</span>
                <div class="confirmation-text-no drop-text" id="confirmation-no-text">
                  Poxa que notícia triste! Iríamos ficar muito felizes com sua presença, mas tudo bem, entendemos que imprevistos acontecem. Espero que possamos celebrar outros momentos com você!
                  <div class="whatsapp-link">
                    <a href="https://wa.me/554591297862?text=Olá%20Lucas%20e%20Nathalia!%20Infelizmente%20não%20poderei%20comparecer%20no%20seu%20casamento." target="_blank">
                      <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      <span>Nos conte o motivo da ausência.</span>
                    </a>
                  </div>
                </div>

              </div>
            </div>
            <div id="accordion">
              <div class="card">
                <div class="card-header observation" id="headingOne">
                  <button class="btn btn-link observation-button pl-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="button-warning">
                    <h5 class="mb-2 observation-button-text">
                      Observações! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </h5>
                    <h6 class="mb-0 small-text">Todos os nomes citados no convite impresso e/ou virtual, devem ...</h6>
                  </button>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body observation-text">
                    Todos os nomes citados no convite impresso e/ou virtual, devem confirmar a presença. Caso contrário, seu nome não está na lista de convidados da cerimônia, então dê uma atenção especial para essa parte.                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card card-6">
      <div class="image-container">
        <%= image_tag "card4.png" %>
      </div>
      <div>
        <div class="card-text">
          <div class="card-body text-left card-font">
            <div class="card-4-text">
              <p>O grande dia esta chegando, e esperamos ansiosamente para compartilhar nossa felicidade com você nessa nova estação. Até logo!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    document.getElementById("pix-caret").addEventListener("click", function(){
        var pixtext = document.getElementById("pix-text")
        var pixicon = document.getElementById("pix-icon")
        var havanicon = document.getElementById("havan-icon")

        console.log(pixtext)
        if(pixtext.style.display === ""){
            document.getElementById("pix-text").style.display = "flex";
            pixicon.className = "fa fa-caret-down";
            document.getElementById("havan-text").style.display = "";
            havanicon.className = "fa fa-caret-right";
        }else{
            document.getElementById("pix-text").style.display = "";
            pixicon.className = "fa fa-caret-right";
            document.getElementById("havan-text").style.display = "";
            havanicon.className = "fa fa-caret-right";
        }
    });

    document.getElementById("havan-caret").addEventListener("click", function(){
        var havantext = document.getElementById("havan-text")
        var havanicon = document.getElementById("havan-icon")
        var pixicon = document.getElementById("pix-icon")

        if(havantext.style.display === ""){
            document.getElementById("havan-text").style.display = "block";
            havanicon.className = "fa fa-caret-down";
            document.getElementById("pix-text").style.display = "";
            pixicon.className = "fa fa-caret-right";
        }else{
            document.getElementById("havan-text").style.display = "";
            havanicon.className = "fa fa-caret-right";
            document.getElementById("pix-text").style.display = "";
            pixicon.className = "fa fa-caret-right";
        }
    });

    document.getElementById("confirmation-yes").addEventListener("click", function(){
        var confirmationtext = document.getElementById("confirmation-yes-text")
        var confirmationicon = document.getElementById("confirmation-yes-icon")

        if(confirmationtext.style.display === ""){
            document.getElementById("confirmation-yes-text").style.display = "block";
            confirmationicon.className = "fa fa-caret-down";
        }else{
            document.getElementById("confirmation-yes-text").style.display = "";
            confirmationicon.className = "fa fa-caret-right";
        }
    });

    document.getElementById("confirmation-no").addEventListener("click", function(){
        var confirmationtext = document.getElementById("confirmation-no-text")
        var confirmationicon = document.getElementById("confirmation-no-icon")

        if(confirmationtext.style.display === ""){
            document.getElementById("confirmation-no-text").style.display = "block";
            confirmationicon.className = "fa fa-caret-down";
        }else{
            document.getElementById("confirmation-no-text").style.display = "";
            confirmationicon.className = "fa fa-caret-right";
        }
    });

    const btn = document.querySelector('#collapseOne')
    const small_text = document.querySelector('.small-text')
    const headingOne = document.querySelector('#headingOne')
    const observationButton = document.querySelector('.observation-button-text')
    const observationText = document.querySelector('.observation-text')
    const options = {
        attributes: true
    }

    function callback(mutationList, observer) {
        mutationList.forEach(function(mutation) {
            if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
                if(mutation.target.classList.contains('collapsing') || mutation.target.classList.contains('show')){
                    small_text.style.display = "none";
                    headingOne.style.marginBottom = "-40px";
                    observationText.classList.add('border-left-text');
                    observationButton.classList.add('border-left-button');
                }else{
                    small_text.style.display = "block";
                    headingOne.style.marginBottom = "0px";
                    observationText.classList.remove('border-left-text');
                    observationButton.classList.remove('border-left-button');
                }
            }
        })
    }

    const observer = new MutationObserver(callback)
    observer.observe(btn, options)


    function copy() {
        var copyText = document.getElementById("pix-value");

        navigator.clipboard.writeText(copyText.value);
    }

    (function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));
</script>

<script></script>


